<!-- Modal -->
<div class="modal fade" #addProjectDialog>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <app-dialog-header [heading]="headerMessage" (closeEvent)="onClose()"></app-dialog-header>

            <div class="modal-body">
                <p>Hello! This is a simple dialog.</p>
            </div>

            <div class="modal-footer">
                <!-- Remove data-bs-dismiss, use (click) instead -->
                <button type="button" class="btn btn-primary mr-2" (click)="onClose()">Close</button>
                <button type="button" class="btn btn-danger" (click)="onClose()">Close</button>
            </div>
        </div>
    </div>
</div>